<header>
    <div class="navbar navbar-expand-sm bg-primary navbar-dark">
        <a href="{% url 'home' %}" class="navbar-brand">Home</a>
        <a href="{% url 'maskDetect' %}" class="navbar-brand">Mask Detection</a>
        <a href="{% url 'faceDetect' %}" class="navbar-brand">Face Detection</a>
        <ul class="navbar-nav mr-auto">
            <li 
                {% if request.path == '/' %}
                    class="nav-item active"
                {% else %}
                    class="nav-item"
                {% endif %}
            >
        </ul>
    </div>
</header>